<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> Books List </h2>
    {% for book in object_list %}
        <div style="border:1px solid gray; padding:10px;">
         <span style="font-weight: bolder;"> {{book.title}} </span>
         <span> {{book.subtitle}}</span>
         <span> by {{book.author}}</span>
         <span style="font-style: italic;"> {{book.isbn}} </span>
        </div>   
    {% endfor %}
    <hr>
</body>
</html>